* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn_1 {
  background-color: $sfondo_rosso;
  padding: 20px 30px;
  outline: none;
  border: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 30px;
  &:hover {
    background-color: #46c197;
  }
}

.card_sec_1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & > div {
    width: 170px;
    border: 1px solid $scritte_grigio;
    margin: 10px 6px;
    img {
      max-width: 100%;
      border: 0;
    }
    hr {
      margin: 0 10px;
    }
    & > div {
      margin: 10px;
      border: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price_card_1 {
        display: flex;
        flex-direction: column;
        span {
          font-size: 13px;
          line-height: 12px;
          &:first-child {
            color: $scritte_grigio;
            text-decoration: line-through;
          }
        }
      }
    }
    p {
      margin: 10px 10px;
      font-size: 13px;
    }
    .category_card_1 {
      color: $scritte_grigio;
      font-size: 10px;
    }
  }
}
