* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn_1 {
  background-color: #ff4450;
  padding: 20px 30px;
  outline: none;
  border: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 30px;
  &:hover {
    background-color: #46c197;
  }
}
