footer {
  background-color: #273044;
  color: white;
  & > div:first-child {
    padding: 60px 0;
  }
  & > div:nth-child(2) {
    border-top: 1px solid $scritte_grigio;
    .container {
      padding: 25px 0;
      img {
        width: 30px;
        margin-right: 20px;
      }
      & > span {
        font-size: 13px;
        & > span {
          text-decoration: underline;
        }
      }
    }
  }
}
