.side_bar {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  @include flex-column;
  padding: 10px 15px;
  z-index: 2;
  background-color: white;
  align-items: center;
  border: 1px solid $scritte_grigio;
  border-right: 0;
  i {
    margin: 10px 0;
    color: $scritte_blu_header;
  }
}

header {
  .header {
    .container.header_navbar {
      color: $scritte_grigio;
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      border-bottom: 1px solid $scritte_grigio;
      a {
        margin-left: 20px;
      }
      i {
        font-size: 15px;
        margin-left: 5px;
      }
      span {
        margin-left: 15px;
      }
    }
    .container.header_main {
      padding: 20px 0;
      color: $scritte_blu_header;
      @include align-center;
      justify-content: space-between;
      .category {
        font-size: 12px;
        display: flex;
        align-items: center;
        span {
          margin-right: 10px;
          margin-left: 5px;
        }
        input {
          background-color: #f0f2f5;
          border: 0;
          outline: none;
          margin-right: 0;
          height: 40px;
          padding-left: 10px;
          width: 200px;
        }
        div {
          margin-left: 0;
          outline: none;
          border: 0;
          background-color: $btn_due;
          height: 40px;
          width: 50px;
          position: relative;
          i {
            font-size: 15px;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      .become_inst {
        font-size: 13px;
        span {
          i {
            color: $scritte_blu_chiaro;
            margin-right: 5px;
          }
          &:first-child {
            margin-right: 15px;
          }
        }
      }
      .log_in {
        font-size: 13px;
        color: $scritte_blu_chiaro;
        button {
          margin: 0 10px;
        }
        & > i {
          font-size: 20px;
        }
      }
    }
    .header_dark_c {
      background-color: $sfondo_blu_scuro;
      .container.header_dark {
        padding: 20px 0;
        color: white;
        font-size: 13px;
        display: flex;
        justify-content: center;
        span {
          margin: 0 10px;
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
