main {
  section:nth-child(6) {
    padding: 70px 0;
    .container {
      display: flex;
      div {
        width: 50%;
        border: 1px solid $scritte_grigio;
        &:first-child {
          margin-right: 15px;
        }
        &:nth-child(2) {
          margin-left: 15px;
        }
      }
    }
  }
}
