main {
  section:nth-child(6) {
    padding: 70px 0;
    color: $scritte_blu_header;
    .container {
      display: flex;
      align-items: center;
      & > div {
        width: 50%;
        border: 1px solid $scritte_grigio;
        padding: 40px 25px;
        display: flex;
        &:first-child {
          margin-right: 15px;
        }
        &:nth-child(2) {
          margin-left: 15px;
        }
        img {
          height: 160px;
          margin-right: 20px;
        }
        div {
          p {
            color: $scritte_grigio;
          }
        }
      }
    }
  }
}
