main {
  section:first-child {
    margin-top: 20px;
    background-color: #ff4450;
    position: relative;
    img {
      width: 50%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
      position: relative;
      left: 100%;
      transform: translateX(-100%);
    }
    div {
      position: absolute;
      left: 150px;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      h5 {
        width: 550px;
      }
    }
  }
}
